@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: black;
}

.text-white{
  color: white;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}
